@model KWICSystem.ViewModels.DataSourceViewModel
@{
    ViewBag.Title = "KWIC System";
}
<style>
    textarea {
        white-space: nowrap;
    }
</style>
@using (Html.BeginForm())
{
    <br />
    <div class="alert alert-info" role="alert">
        <h4>@Model.Time seconds</h4>
    </div>

    <fieldset>
        <legend>Data Input</legend>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body, new { @class = "form-control", rows = 10 })
        </div>
    </fieldset>
    @if (Model.Body != null)
    {
        <fieldset>
            <legend>Data Output</legend>
            <div class="editor-field">
                <div class="editor-field">

                    @Html.TextArea("Output", Model.Body, new { @class = "form-control", rows = 10 })

                </div>
            </div>
        </fieldset>
    }
    <br/>
    <p>
        <input class="btn btn-success" type="submit" value="Filter" />
        <a class="btn btn-warning" asp-action="Filter">Clear</a>
    </p>
}