@model KWICSystem.ViewModels.SearchKeywordViewModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    <br />
    <div class="alert alert-info" role="alert">
        <h4>@Model.Time milliseconds</h4>
    </div>

    <fieldset>
        <legend>Search</legend>
        <div class="editor-field form-group">
            @Html.TextBoxFor(model => model.Body, new { @class = "form-control" })
        </div>
    </fieldset>
    @if (Model.ResultBody != null)
    {
        <fieldset>
            <legend>Output</legend>
            <div class="editor-field">
                <div class="editor-field">
                    @Html.TextArea("Output", Model.ResultBody, new { @class = "form-control", rows = 10 })
                </div>
            </div>
        </fieldset>

    }
    <br />
    <br />
    <p>
        <input class="btn btn-success" type="submit" value="Search" />
        <a class="btn btn-warning" asp-action="Index">Clear</a>
    </p>
}

@section footer {
    <div>
        <p>
            &#169; Software Architecture and Design
        </p>
    </div>
}