
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Pipe and Filter</h1>
        <p class="lead"></p>
    </div>
</div>
@section footer {
    <div>
        <p>
            &#169; Software Arhitecture and Design
        </p>
    </div>
}